  .navbar {
    background: linear-gradient(90deg, #052f6e, #01156e);
    padding: 15px 0;
  }

  .nav-link {
    color: white !important;
    margin: 0 8px;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #ffc107;
    transition: width 0.3s ease;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  .navbar-brand {
    font-size: 1.3rem;
  }

  .hero {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #001738, #0f0083);
    color: white;
    padding: 80px 20px;
  }

  .profile-container {
    width: 250px;
    height: 250px;
    border: 5px solid #000000;
  }

  .profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn-warning {
    border-radius: 30px;
    font-weight: 500;
    padding: 10px 25px;
  }

  .project-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .project-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.1);
  }

  .btn-primary {
  background: linear-gradient(45deg, #007bff, #00c6ff);
  border: none;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #0056b3, #00a6d6);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}
